<h1>Inscriptcio proves athletisme</h1>
<section><h1>Dades identificatives</h1>
<label>DNI:
    <input type="text"/>
</label><br>
<label>Codi de federat:
    <input type="text" />
</label><br>
<label>Nom i cognoms:
    <input type="text" />
</label><br>
<label>Telefon:
    <input type="tel" />
</label><br>
<label>Email:
    <input type="email" />
</label><br></section>
<section><h1>Inscripcio</h1>
<label><input  type="checkbox">100 llisos:</label>
<label><input  type="checkbox">200 llisos:</label>
<label><input  type="checkbox">400 llisos:</label>
<label><input  type="checkbox">800 llisos:</label>
<label><input  type="checkbox">1000 llisos:</label>
</section> 